<div header></div>

<div class='row'>

  <div navbar></div>

	<div class='col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-3 col-xs-offset-1 col-xs-11 main'>
		<section id="rules">
		  
		

			<div class="page-header">
				<br>
				<h1>About Us</h1>
			</div>
			
			<div class="personal-info">
				<h4><b>Who we are?</b></h4>
				<p>
					We are formally known as <i>Codebusters</i>! We consist of four of the coolest people on the planet: Greg Wood, Alan Simon, Peter Phan and Muska Ahmadzai. We all met in our 
					Software Developing and Network Engineering program at Sheridan College. 
					<br>
					<br>
					Thus, we were expected to complete a mandatory capstone project in our last year of our program. With our diverse personalities and skills, we came together to form 
					our super group. With careful planning and dedication, we have created Laddr! Shoutout to Simon Hood for assisting us on this project, and for Sheridan College for bringing us together.
				</p>
				<br>
				
				<h4><b>Our Mission</b></h4>
				<p>
					Our mission is to deliver new and innovative systems that can be accesible in various technologies. We want Laddr to form new paths for individuals seeking new opportunities or 
					experiences in fields they are interested in. Volunteering is the most important resource that community organizations can have. Bringing people together to work on an initiative to 
					better their communities, or to gain self growth is a valuable opportunity. Laddr will allow ease of access to these opportunities, as well as allowing organizations to easily gain 
					their volunteer resources. 
				</p>
				<br>
				
				<h4><b>Founded</b></h4>
				<p>January 2016</p>


			</div>
		


		</section>
	
		<br>
	</div>	
     
	


    </section>
  </div>
</div>

<div footer></div>




    


