<div header></div>

<div class='container'>
  <section id="addposting">

    <div class="page-header">
      <h1>Add Posting</h1>
    </div>

    <div class=' posting-style container-fluid'>
      <p><b>NOTE:</b> In the add postings page, you will be able to create your volunteering opportunities that can be seen 
  		by users who are looking to volunteer! It's important to note that you should provide 
  		as much detail as possible in the description area of your postings. Some things you can 
  		add in the description area is: 
  			<ul>
  			  <li>Shifts/Times of volunteer positions</li>
  			  <li>Skills desired/required</li>
  			  <li>Long/Short term volunteer positions</li>
  			</ul>
		<br>
      </p>

      <form ng-submit='addPosting()' class='form-signin'>
        <div>
          <label for='jobTitle' class='control-label'>Job Title: </label>
          <input ng-model='posting.JobTitle' type='text' name='jobTitle' class='form-control' placeholder="Name of Volunteer Position" required/>
		    </div>
        <div>
			<br>

      <div class='form-group'>
        <label class="control-label" for='address'>Address:</label>
        <input type="text" 
          ng-model="asyncSelected" 
          placeholder="Type address here" 
          uib-typeahead="address for address in getLocation($viewValue)" 
          typeahead-loading="loadingLocations" 
          typeahead-no-results="noResults" 
          typeahead-on-select='setAddress()'
          class="form-control"
          name='address'>
        <label ng-show="loadingLocations" class="fa fa-spinner fa-spin"></label>

        <div ng-show="noResults">
          <i class="fa fa-times"></i> No Results Found
        </div>
      </div>
        <div>
			<br>
          <label for='description' class='control-label'>Description: </label>
          <textarea ng-model='posting.Description' name='description' rows='5' class='form-control' placeholder="Details on the Volunteer Position" required></textarea>
    		</div>
		<br>
        <label class='control-label'>Tags: </label>
        <div><small>Tags help users find your posting! Simply check any category which applies to your posting.</small></div>
        <div ng-repeat='tag in tags' ng-if='$index % 3 == 0' class='row tag-group'>
          <div class='col-md-4'><input name='tags' ng-model='posting.Tags[tags[$index].TagID]' type='checkbox' value='tag.TagID[tags[$index].TagID]'>{{tag.Name}}</div>
          <div class='col-md-4' ng-if='tags.length > ($index + 1)'><input name='tags' ng-model='posting.Tags[tags[$index + 1].TagID]' type='checkbox' value='tags[$index + 1].TagID'>{{tags[$index + 1].Name}}</div>
          <div class='col-md-4' ng-if='tags.length > ($index + 2)'><input name='tags' ng-model='posting.Tags[tags[$index + 2].TagID]' type='checkbox' value='tags[$index + 2].TagID'>{{tags[$index + 2].Name}}</div>
		
		</div>
		<br>
        <input class='btn btn-md col-md-offset-4 col-md-4' type='submit' value='Add Posting' class='form-control btn'/>
		
      </form>
	<br><br>
    </div>
    
  </section>
  
</div>

<div footer></div>