<div header></div>

<div class='container'>
  <div>
    <section id='addtopics'>
      <div class="page-header">
        <h1>Add Topic</h1>
      </div>
		  <p><strong>NOTE: </strong>Remember, this is a page that can be seen by your fellow volunteers and organizations. 
        <br>The following will be prohibited on the Forum Board:
				<ul>
					<li>Use of foul language</li>
					<li>Trolling/Fighting amongst fellow users</li>
					<li>Spamming</li>
					<li>Solicitation Posts/Advertisements</li>
				</ul>
        Failure to abide by these rules will result in immediate banning with no warning. 
		  </p>

      <div class='posting-style container-fluid '>
        <form ng-submit='submitTopic()' class='form-signin'>
          <label for='topicTitle'>Topic Title: </label>
          <input ng-model='topic.title' type='text' name='topicTitle' class='form-control' required placeholder="Enter Topic Title"/>
			<br>
          <label for='topicBody'>Body: </label>
          <textarea ng-model='topic.body' name='topicBody' rows="8" class='form-control' placeholder="Enter Topic Details" required></textarea>
          <br>
          <input type='submit' value='Submit' class='form-control btn'/>
        </form>
      </div>
      
    </section>
  </div>
</div>

<div footer></div>