<section id='addtopics'>
  <h3>Add Topic</h3>

  <div class='container-fluid'>
    <form ng-submit='submitTopic()' class='form-signin'>
      <label for='topicTitle'>Topic Title: </label>
      <input ng-model='topic.title' type='text' name='topicTitle' class='form-control'/>

      <label for='topicBody'>Body: </label>
      <textarea ng-model='topic.body' name='topicBody' class='form-control'></textarea>
      
      <input type='submit' value='Submit' class='form-control btn-success'/>
    </form>
  </div>
  
</section>