<div header></div>

<div class='container'>
  <section id="applications">
    <div class="container-fluid">
      <div class="page-header">
        <br>
        <h1>Applications</h1>
      </div>
      
      <div>
        <table class="table table-striped table-style" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Volunteer Position Title</th>
              <th>Applicant</th>
              <th>Description</th>
              <th colspan='2'>Status</th>
            </tr>
          </thead>
          <tbody class='row' ng-repeat="application in applications">
             <tr >
              <td><a href='#/postings/{{application.PostingID}}'>{{application.LdrPosting.JobTitle}}</a>
            </td>
              <td>
                  <a href='#/user/{{application.LdrProfile.LdrProfileID}}'>{{application.LdrProfile.LdrUser.FirstName}}  {{application.LdrProfile.LdrUser.LastName}}
             </td>
              <td>{{application.LdrProfile.LdrUser.Description}}</td>
              <td>
                <select class='form-control' ng-model='application.ApplicationStatus'>
                  <option value='0' ng-selected='{{application.ApplicationStatus == 0}}'>Pending</option>
                  <option value='1' ng-selected='{{application.ApplicationStatus == 1}}'>Rejected</option>
                  <option value='2' ng-selected='{{application.ApplicationStatus == 2}}'>Accepted</option>
                </select>
              </td>
              <td>
                <button class='btn' ng-click='updateApplication(application.ApplicationStatus, application.ProfileID, application.PostingID)' id="update"><span class='fa fa-share'></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

        <!-- Ahhhhhhhhhhhhhh -->
         <div class="alert alert-success fade in" id="updateAlert" style="display:none;"><strong>Application Updated!</strong> The user will see these changes the next time they log in.</div>
    


    
    </div>
  </section>
</div>



<div footer></div>