<div header></div>

<div class='row'>

  <div navbar></div>


	<div class='col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-3 col-xs-offset-1 col-xs-11 main'>
		<section id="contact">
		
			<div class="page-header">
				<br>
				<h1>Contact</h1>
			</div>
			
			<div class="personal-info">
				<h4><b>How can we help you?</b></h4>
				<p>We are here to assist you. If you need assistance or would like additional information, please do not hesitate to contact us. We will be sure to respond in 2-4 business days. </p>
				<br>
				
				<h4><b>Technical Support</b></h4>
				<p>	
					Name: Greg Wood 
					<br>
					Email: <a>greg@laddr.xyz</a>
				</p>
				<br>
				
				<h4><b>Help Desk</b></h4>
				<p>	
					Name: Muska Ahmadzai
					<br>
					Email: <a>muska	@laddr.xyz</a>
					<br>
				</p>
				<br>
				
				<h4><b>Mobile Support</b></h4>
				<p>	
					Name: Alan Simon
					<br>
					Email: <a>alan@laddr.xyz</a>
				</p>
				<br>
				
				<h4><b>Information Services</b></h4>
				<p>	
					Name: Peter Phan
					<br>
					Email: <a>peter@laddr.xyz</a>
				</p>
				<br>
				
				<h4><b>Location</b></h4>
				<p>
					Address: 899 McLaughlin Rd, Brampton, ON L6Y 5H9 <br>
					Hours: Open today · 8:30AM–10PM <br>
					Phone: (905) 459-7533 <br>
					Province: Ontario <br>
				</p>
			</div>
		


		</section>
	
		<br>
	</div>
</div>

<div footer></div>




    


