<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <p class="message">select location from drop down.</p>

    <ul class="dropdown-menu" role="listbox">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>

<div header></div>

<div class='container'>
	<section ng-if="profile.AccountType == 0">
	
		<div class="page-header">
		  <h1>Edit Profile Information</h1>
		</div>
		
		<div class="personal-info">
		
			<form class="form-horizontal" role="form">

				<div class='row'>
					<div class="col-md-5">
					  
						<img class='profilepic' ngf-thumbnail="file || profile.PictureURL">

						<div class='center-text'>
							<br>
							<div class="btn btn-primary " ngf-select="upload($file)" ng-model="file" name="file" ngf-pattern="'image/*'"
						    ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" >Select</div>
				  	</div>

				  	<div uib-alert class='alert' ng-model='uploadMessage' ng-show='successfulUpload'>Upload successful.</div>
					</div>					
					
					<div class='col-md-6'>
						<div class="form-group">
						  <label class="control-label" for='firstName'>First name:</label>
							<input class="form-control" value="" type="text" name="firstName" ng-model='profile.LdrUser.FirstName'>
						</div>
					
						<div class="form-group">
						  <label class="control-label" for='lastName'>Last name:</label>
							<input class="form-control" value="" type="text" name="lastName" ng-model="profile.LdrUser.LastName">
						</div><br>

						<div class='form-group'>
							<label class="control-label" for='academicStatus'>Academic Status:</label>
							<div name='academicStatus'>
								<label class="radio-inline "><input type="radio" name="academicstatus" ng-model="profile.LdrUser.AcademicStatus" value="0" >Not in School</label>
								<label class="radio-inline"><input type="radio" name="academicstatus" ng-model="profile.LdrUser.AcademicStatus" value="1">High School</label>
								<label class="radio-inline"><input type="radio" name="academicstatus" ng-model="profile.LdrUser.AcademicStatus" value="2">College</label>
								<label class="radio-inline"><input type="radio" name="academicstatus" ng-model="profile.LdrUser.AcademicStatus" value="3">University</label>
								<label class="radio-inline"><input type="radio" name="academicstatus" ng-model="profile.LdrUser.AcademicStatus" value="4">Graduate</label>
							</div>
						</div>

						<div class='form-group'>
						  <label class="control-label" for='summary'>Summary:</label>
							<textarea class="form-control" name='summary' rows="8" value="" type="textbox" ng-model='profile.LdrUser.Description'></textarea>
						</div>
						
						<div class='form-group'>
						  <label class="control-label" for='email'>Email:</label>
							<input class="form-control" name='email' ng-model="profile.Email" type="text" id="email">
						</div>
						<br>
						<div class="form-group">
							<input class="btn col-md-offset-2 col-md-3" value="Save Changes" type="button" ng-click='editVolunteer()'>
							<a class="btn col-md-3 col-md-offset-1" href='#/profile'>Cancel</a>
						</div>
						
					</div>

				  <div>{{message}}</div>
				  
				</div>
			</form>  
		</div>
		
	</section>
	
		<!-- Organization Profile -->

	<section ng-if='profile.AccountType == 1'>
		
		<div class="page-header">
		  <h1>Edit Profile Information</h1>
		</div>

		<div class="personal-info">

			<form class="form-horizontal" role="form">

				<div class='row'>
				
				  <div class="col-md-5">
					  
						<img class='profilepic' ngf-thumbnail="file || profile.PictureURL">

						<div class='center-text'>
							<br>
							<div class="btn btn-primary" ngf-select="upload($file)" ng-model="file" name="file" ngf-pattern="'image/*'"
						    ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" >Select</div>
				  	</div>

				  	<div uib-alert class='alert' ng-model='uploadMessage' ng-show='successfulUpload'>Upload successful.</div>
					</div>
				
					<div class='col-md-6'>
						<div class="form-group">
						  <label class="control-label" for='orgName'>Organization Name:</label>
							<input class="form-control" name='orgName' ng-model="profile.LdrOrganization.OrganizationName" type="text" id="organizationName" >
						</div>
						
						<div class="form-group">
						  <label class="control-label" for='url'>URL:</label>
							<input class="form-control" name='url' ng-model='profile.LdrOrganization.URL' type="text" id="url" >
						</div>
						
						<div class="form-group">
						  <label class="control-label" for='missionStatement'>Mission Statement:</label>
							<textarea class="form-control" name='missionStatement' rows="6" ng-model='profile.LdrOrganization.MissionStatement' type="textbox" id="missionStatement" ></textarea>
						</div>
						
						<div class='form-group'>
					    <label class="control-label" for='address'>Address:</label>
					    <input type="text" 
					    	ng-model="asyncSelected" 
					    	placeholder="Type address here" 
					    	uib-typeahead="address for address in getLocation($viewValue)" 
					    	typeahead-loading="loadingLocations" 
					    	typeahead-no-results="noResults" 
					    	typeahead-on-select='setAddress()'
					    	class="form-control"
					    	name='address'>
					    <label ng-show="loadingLocations" class="fa fa-spinner fa-spin"></label>
					    <div ng-show="noResults">
					      <i class="fa fa-times"></i> No Results Found
					    </div>
					  </div>

						<div class="form-group">
						  <label class="control-label" for='email'>Email:</label>
							<input class="form-control" ng-model="profile.Email" type="text" id="email" >
						</div>
						<br>
						<div class="form-group ">
							<input class="btn col-md-3 col-md-offset-2" value="Save Changes" type="button" ng-click='editOrganization()'>
							<a class="btn col-md-3 col-md-offset-1 " href='#/profile'>Cancel</a>
				  	</div>
					
				  	<div>{{message}}</div>
				  </div>
			  </div>
			</form>
		</div>
		
	</section>
</div>
<br>
<div footer></div>
