<div header></div>

<div class='container'>

	<section id="view">

		<div class="page-header">
			<br>
			<h1>FAQ</h1>
		</div>
		<div >
			<p>Here you will find our most frequently asked questions. If you don't find your answer here, please do not hesitate to <a href="#/contact">contact us</a>. </p>
			<br>
			
			<h4>Q. Do I have to put my personal information on my profile?</h4>
			<p>A. For the initial registration on Laddr, we only need to know a few things about you. What you fill on your profile is your choice. You don't need to share your life story, but filling out the description at 
			least would be helpful for organizations to see if you are a good fit for a placement. Organizations accept or deny applicants based on the information on your profile - so you don't want it completely empty.</p>
			<br>

			<h4>Q. What does pending mean on my application status?</h4>
			<p>A. Pending means that your application has been sent, but it has yet to be accepted or denied. If you are eager to know the status of your application, it is best for you to contact the organization directly.
			Their e-mail should be found on their profile.</p>
			<br>

			<h4>Q.How do I apply to a volunteer position?</h4>
			<p>A. When you see a posting that you like, go to the posting 'Details' and there you will find an 'Apply Now' button. With a simple click, your application will be submitted.</p>
			<br>

			<h4>Q. Do I have to submit multiple applications even though there is a volunteering opportunities with the same organization?</h4>
			<p>A. Yes. There will be organizations that will have multiple volunteering opportunities posted. If you find two that you are interested that are from the same organization, you will have to apply 
				to both separately. </p>
			<br>

			<h4>Q. How do I complete filling ut my profile?</h4>
			<p>A. Once you have registered an account with Laddr, login and navigate to your 'Profile.' Once there, you should see an 'Edit Profile' section. Fill in all the fields and click 'Save Changes.' 
				Your profile should then be completed!</p>
			<br>

			<h4>Q. Can anyone see my profile information?</h4>
			<p>A. No. The only people that can see your profile information are the organizations that you have sent an application to in regards to a volunteer opportunity. However, your name will be visible on the forums 
				page if you do choose to post to topics.</p>
			<br>
			
			<h4>Q. Will I be offered job if I volunteer consistently?</h4>
			<p>A. No. We cannot gaurantee that any job offers will come out of volunteering with organizations. Job offers are dependent on the organization and not affiliated with Laddr at all.</p>
			<br>
			
		</div>
		
		

	
	</section>        
</div>


<div footer></div>