<div header></div>

<div class='container'>
  <section id="applications">
	 
    <div class="row">
      <div class="col-md-12 page-header">
        <h1>Welcome to Laddr</h1>
      </div>

      <div class='col-md-12'>
        <div ng-show='showMessages && profile.AccountType == 0' uib-alert class="alert alert-success" close="dismissMessages()" ng-model="updateAlert"><strong>Your application status has been updated!</strong> Click <a href='#/applications'>here</a> to view your applications.</div>
      </div>

      <div class="col-md-9">
      
        <div ng-show='postings.length > 0' class='col-md-12'>
          <h3>Postings For You</h3>
		  
		    <div class="feed-box" ng-repeat="posting in postings">
              <div class="feed-box-img"><img ng-src="{{posting.LdrProfile.PictureURL}}" class="avatar img-thumbnail" height="100"></div>
            
			  <a href="#/postings/{{posting.PostingID}}">
				<div class="feed-box-info">
				  <div class="feed-details">
					 {{posting.LdrProfile.LdrOrganization.OrganizationName}}<br> 
					  Position: {{posting.JobTitle}}  |  Event Date:  {{posting.EventDate | date: 'dd MMM yyyy'}}
				   
				  </div>
			   </div>
			  </a>
           </div> 
        </div>
        <div class='col-md-12'>
          <h3>Recent Topics</h3>
		  <div class="feed-box" ng-repeat="topic in topics">
            
			<a href="#/forum/{{topic.TopicID}}" >
			  <div class="feed-box-info">
				<div class="feed-details">
				  Title: {{topic.Title}}<br> 
				  Poster: {{topic.LdrProfile.LdrUser.FirstName}}{{topic.LdrProfile.LdrOrganization.OrganizationName}}  |  Posted:  {{topic.Timestamp | date: 'dd MMM yyyy'}}
				</div>
			  </div>
			</a>
		  </div>
		</div>
	  </div>
      
      <div class='col-md-3 text-center'>
        <img ng-src='{{profile.PictureURL}}' alt='avatar' class='topic-avatar text-center'  />
		<div ng-show='profile.AccountType == 0' class='text-center'>
			<br>
          <p>{{profile.LdrUser.FirstName}} {{profile.LdrUser.LastName}}</p>
          <p>{{profile.Email}}</p> 
        </div>
        <div ng-show='profile.AccountType == 1'>
		  <br>
          <p>{{profile.LdrOrganization.OrganizationName}}</p>
          <p>{{profile.LdrOrganization.URL}}</p>
          <p>{{profile.LdrOrganization.City}}, {{profile.LdrOrganization.Province}}  </p>
          <p>{{profile.Email}}</p> 
        </div>
      </div>
  </section>
</div>

<div footer></div>
