<div class="jumbotron">
  <div class="container">
    <h1 class='text-center'>Laddr</h1>
    <h3 class='text-center text-white'>Start your climb.</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3>Laddr is a social application designed to connect people with volunteer opportunities in their areas. You can feel good about the work you'll do within your community, all while developing useful skills and experiences that will help you in your career.</h3>
  </div>
  <div class="row">
    <div class='col-md-4'>
      <h3>Volunteer</h3>
      <p>Sign up now, or log in using your Facebook, Twitter or Google accounts and start browsing through volunteer opportunities near you.</p>
      <a class="btn btn-md btn-success" href="app#/register">Sign up &raquo;</a>
    </div>
    <div class='col-md-4'>
      <h3>Post Opportunities</h3>
      <p>Posting volunteer opportunities from your community, charity or business allows you to reach a wide number of people looking for volunteer experiences in your area.</p>
      <a class="btn btn-md btn-success" href="app#/register">Post &raquo;</a>
    </div>
    <div class='col-md-4'>
      <h3>Grow your career</h3>
      <p>Grow your career with tutorials on how to write a resume and cover letter, how to ace the interview, and how to reach more employers with a well crafted LinkedIn profile.</p>
      <a class="btn btn-md btn-success" href='app#/howto'>Learn &raquo;</a>
    </div>
  </div>
  
  <div class='row'>
    <h3 class='text-center'>Laddr is coming soon. Keep checking back for more information. Thanks for your interest!</h3>
  </div>
</div>