<div header></div>

<div class='container'>

	<section id="view">

		<div class="page-header">
			<br>
			<h1>How To</h1>
		</div>
		
		<div class="container faq-style">

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="thumbnail">
						<img src="http://placehold.it/600x270" alt="">
						<div class="caption">
							<h4 class="text-center">Article 1</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Suspendisse aliquam, augue vitae pulvinar feugiat, magna ipsum varius tellus, quis lobortis est nulla nec ligula. 
								Aenean cursus enim sit amet tortor rutrum lobortis. 
								Vestibulum mattis mauris fringilla mauris volutpat, 
							</p>
							<p class="text-center">
								<i class="fa fa-book "></i>
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="thumbnail">
						<img src="http://placehold.it/600x270" alt="">
						<div class="caption">
							<h4 class="text-center">Article 1</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Suspendisse aliquam, augue vitae pulvinar feugiat, magna ipsum varius tellus, quis lobortis est nulla nec ligula. 
								Aenean cursus enim sit amet tortor rutrum lobortis. 
								Vestibulum mattis mauris fringilla mauris volutpat, Vestibulum mattis mauris fringilla mauris volutpat,  Vestibulum mattis mauris fringilla mauris volutpat, 
								Vestibulum mattis mauris fringilla mauris volutpat, Vestibulum mattis mauris fringilla mauris volutpat, 
							</p>
							<p class="text-center">
								<i class="fa fa-book"></i>
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="thumbnail">
						<img src="http://placehold.it/600x270" alt="">
						<div class="caption">
							<h4 class="text-center">Article 1</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Suspendisse aliquam, augue vitae pulvinar feugiat, magna ipsum varius tellus, quis lobortis est nulla nec ligula. 
							</p>
							<p class="text-center">
								<i class="fa fa-book"></i>
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="thumbnail">
						<a target="_blank" href="https://en.wikipedia.org/wiki/Jonathan_Archer"><img src="http://placehold.it/600x270" ></a>
						<div class="caption">
							<h4 class="text-center">Article 1</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Suspendisse aliquam, augue vitae pulvinar feugiat, magna ipsum varius tellus, quis lobortis est nulla nec ligula. 
								Aenean cursus enim sit amet tortor rutrum lobortis. 
								Vestibulum mattis mauris fringilla mauris volutpat, Vestibulum mattis mauris fringilla mauris volutpat,  Vestibulum mattis mauris fringilla mauris volutpat, 
								Vestibulum mattis mauris fringilla mauris volutpat, Vestibulum mattis mauris fringilla mauris volutpat, 
							</p>
							<p class="text-center">
								<i class="fa fa-book"></i>
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="thumbnail">
						<img src="http://placehold.it/600x270" alt="">
						<div class="caption">
							<h4 class="text-center">Article 1</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Suspendisse aliquam, augue vitae pulvinar feugiat, magna ipsum varius tellus, quis lobortis est nulla nec ligula. 
								Aenean cursus enim sit amet tortor rutrum lobortis. 
								Vestibulum mattis mauris fringilla mauris volutpat, Vestibulum mattis mauris fringilla mauris volutpat,  Vestibulum mattis mauris fringilla mauris volutpat, 
								Vestibulum mattis mauris fringilla mauris volutpat, Vestibulum mattis mauris fringilla mauris volutpat, 
							</p>
							<p class="text-center">
								<i class="fa fa-book"></i>
							</p>
						</div>
					</div>
				</div>
			
		</div>
	</section>        
</div>


<div footer></div>