<div header></div>

<div class='container'>

	<section id="view">

		<div class="page-header">
			<br>
			<h1>How To</h1>
			<p>Featured articles.</p>
		</div>
		
		<div class="container-fluid row  howto-style">
				
				<!-- http://www.wikihow.com/Have-a-Good-Job-Interview -->
				<div class="col-xs-12 col-sm-6 col-md-3 howto-style menu-category">
					<div class="thumbnail">
						<a target="_blank" href="http://www.wikihow.com/Have-a-Good-Job-Interview">
							<img src="/img/articles/1.jpg" alt="">
							<div class="caption">
								<h4 class="text-center">How to Have a Good Job Interview</h4>
								<p>
								"If you want better results on your job interviews, prepare to rock. Show the employer why you're an ideal candidate for the job, and land it quickly. Ready to get your new 
								position--then, follow these steps for your best interview."
								</p>
								<p class="text-center">
									<i class="fa fa-book "></i>
								</p>
							</div>
						</a>
					</div>
				</div>
				
				<!-- https://www.goconqr.com/en/examtime/blog/note-making-tips-work/ -->
				<div class="col-xs-12 col-sm-6 col-md-3 howto-style menu-category">
					<div class="thumbnail">
						<a target="_blank" href="https://www.goconqr.com/en/examtime/blog/note-making-tips-work/">
							<img src="/img/articles/2.jpg" alt="">
							<div class="caption">
								<h4 class="text-center">Note Making Tips That Work</h4>
								<p>
									"Whether it’s from our class notes, from a textbook or using digital notes, note making is one of the most important elements in preparing for an exam. 
									Our time is limited, so reducing mass amounts of information and summarising key points helps us to better focus our time and be much more efficient."
								</p>
								<p class="text-center">
									<i class="fa fa-book"></i>
								</p>
							</div>
						</a>
					
					</div>
				</div>
				
				<!-- http://www.wikihow.com/Make-a-Resume -->
				<div class="col-xs-12 col-sm-6 col-md-3 howto-style menu-category">
					<div class="thumbnail">
						<a target="_blank" href=" http://www.wikihow.com/Make-a-Resume">
							<img src="/img/articles/3.jpg" alt="">
							<div class="caption">
								<h4 class="text-center">How to Make a Resume</h4>
								<p>
								"A resume is a self-advertisement that, when done properly, shows how your skills, experience, and achievements match the requirements of the job you want. 
								This guide provides three free samples on which you can base your resumé. It will also walk you through setting up and laying out the content to highlight your skills and 
								grab the reader’s attention.
								</p>
								<p class="text-center">
									<i class="fa fa-book"></i>
								</p>
							</div>
						</a>
					</div>
				</div>

				<!-- http://www.wikihow.com/Write-a-Poem?utm_source=wikihow&utm_medium=main_page_carousel&utm_campaign=desktop -->
				<div class="col-xs-12 col-sm-6 col-md-3 howto-style menu-category">
					<div class="thumbnail">
						<a target="_blank" href="http://www.wikihow.com/Write-a-Poem?utm_source=wikihow&utm_medium=main_page_carousel&utm_campaign=desktop ">
							<img src="/img/articles/4.jpg" alt="">
							<div class="caption">
								<h4 class="text-center">Article 1</h4>
								<p>
									"Writing a poem is all about observing the world within or around you. A poem can be about anything, from love to loss to the rusty gate at the old farm. 
									Writing poetry can seem daunting, especially if you do not feel you are naturally creative or bursting with poetic ideas. With the right inspiration and approach, 
									you can write a poem that you can proud to share with others in class or with your friends."
								</p>
								<p class="text-center">
									<i class="fa fa-book"></i>
								</p>
							</div>
						</a>
					</div>
				</div>
				
				
				<!--http://www.huffingtonpost.com/hilary-young/benefits-of-volunteering_b_4151540.html-->
				<div class="col-xs-12 col-sm-6 col-md-3 howto-style menu-category article4">
					<div class="thumbnail">
						<a target="_blank" href="http://www.huffingtonpost.com/hilary-young/benefits-of-volunteering_b_4151540.html ">
							<img src="/img/articles/5.jpg" alt="">
							<div class="caption">
								<h4 class="text-center">Why Volunteering Is So Good For Your Health - Hilary Young</h4>
								<p>
									"It’s one of the first lessons we learn as children — “sharing means caring.” We might not understand why we have to share at first, 
									especially when there are younger siblings involved, but as we grow into adulthood, sharing becomes an essential part of your social 
									and career success."
								</p>
								<p class="text-center">
									<i class="fa fa-book"></i>
								</p>
							</div>
						</a>
					</div>
				</div>
				
								<!--http://www.huffingtonpost.com/hilary-young/benefits-of-volunteering_b_4151540.html-->
				<div class="col-xs-12 col-sm-6 col-md-3 howto-style menu-category article5">
					<div class="thumbnail">
						<a target="_blank" href="http://www.wikihow.com/Program-in-Java">
							<img src="/img/articles/6.jpg" alt="">
							<div class="caption">
								<h4 class="text-center">How to Program in Java</h4>
								<p>
									"To program in Java (not JavaScript, an unrelated language), you need a compiler, a program to convert Java source code to bytecode. 
									In the old days, the only option was Sun's JDK; but now you have many options, including the GNU GCJ which creates class files or native exe files, and jikes, 
									IBM's open source contribution. You also will need a Java virtual machine, which is a "machine within a machine" which understands Java bytecodes and translates them into machine language on the target processor."
								</p>
								<p class="text-center">
									<i class="fa fa-book"></i>
								</p>
							</div>
						</a>
					</div>
				</div>
				

				<!-- http://www.wikihow.com/Become-an-Excellent-Student-->
				<div class="col-xs-12 col-sm-6 col-md-3 howto-style menu-category article6">
					<div class="thumbnail">
						<a target="_blank" href="http://www.wikihow.com/Become-an-Excellent-Student">
							<img src="/img/articles/7.jpg" alt="">
							<div class="caption">
								<h4 class="text-center">How to Become an Excellent Student</h4>
								<p>
								"School, college or unique can be difficult for many students, 
								but even if certain subjects don't come easily for you, you can still succeed with some dedicated effort..."
								</p>
								<p class="text-center">
									<i class="fa fa-book "></i>
								</p>
							</div>
						</a>
					</div>
				</div>
			
			
		</div>

	</section>        
</div>


<div footer></div>