
<div header></div>

<div class='row'>
	<!-- <div navbar></div> -->

	<div class='main'>
		<!-- Page Header -->
		<div class='page-header'>
			<br>
			<h1 class='logo text-center'>Welcome to Laddr.</h1>
			<h2 class="text-center"> <small>Start Your Climb Here!</small></h2>
		</div>

		<section id='view'>
			
			<!-- Login Panel -->
			<div class='col-md-4 col-md-offset-4 panel panel-info login-style'>
				<h3>Sign In</h3>

				<form ng-submit='login()' class='form-signin'>
					<input ng-model='user.email' type='text' name='email' placeholder='Email' class='form-control' autofocus/><br>
					<input ng-model='user.password' type='password' name='pass' placeholder='Password' class='form-control'/> <br>
					<button type='submit' value='Login' class='btn btn-md btn-block'>Log in</button><br>
				</form>

				<div ng-show='message != undefined' class='error-text'>{{message}}</div>

				<h3>Social Media Login</h3>
				<a class='btn btn-md btn-block' href='api/twitter'><span class='fa fa-twitter'></span> Twitter</a><br>
				
				<h5>Don't have an account?</h5>
				<a class='btn btn-md btn-block' href='#/register'>Register</a>
				<br><br>
			</div>

		</section>
	</div>
</div>