<div header></div>

<div class='row'>
  <div>
  
    <section id="profile">
      <div class="container">

      <div class="page-header">
          <h1 class="logo">Organization Information</h1>
      </div>
        
        <div>
          <div class="col-lg-12 personal-info profile-style"> 
            <div class="panel">
              <div class="col-md-5 " >
                <br>
                <div class="text-center">
                  <img ng-src="{{organization.PictureURL}}" class="avatar img-thumbnail" alt="avatar" width="285" height="285">
                </div>
              </div>
              <div class="header text-left col-md-7 personal-info white">
              
                <h1>{{organization.LdrOrganization.OrganizationName}}</h1>
                <h4>{{organization.LdrOrganization.URL}} |  {{organization.LdrOrganization.City}}, {{organization.LdrOrganization.Province}}  </h4>
                <br>
                <h4>Mission Statement</h4>
                <p><span>{{organization.LdrOrganization.MissionStatement}}<br></span></p><br>
                
                <h4>Address</h4>
                  <p>{{organization.LdrOrganization.AddressLine1}}
                  {{organization.LdrOrganization.AddressLine2}}
                  {{organization.LdrOrganization.Province}} 
                  {{organization.LdrOrganization.Postal}}
                  {{organization.LdrOrganization.City}} </p>
                  

                <div>
                  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    </ui-gmap-marker>
                  </ui-gmap-google-map>      
                </div>

              </div>              
            </div>  
          </div>    
          <br>
        </div>  
      </div>
      <br>
    </section>
  </div>
</div>

<div footer></div>

