
<section id="postings">
	<h3>Postings</h3>
    <table>
        <tr>
            <th><b>Organization</b></th>
            <th><b>Date Posted</b></th>
            <th><b>Apply</b></th>
        </tr>
    </table>
	<div ng-repeat="posting in postings">
        <!--
		<h4><a href="app#/postings/{{posting.PostingID}}">{{posting.JobTitle}}</a></h4>
		<p>{{posting.OrganizationName}}</p>
		<p>Located in: {{posting.Location}}</p>
        -->
        <table>
            <tr>
                <td>{{posting.OrganizationName}} <br> {{posting.JobTitle}}</td>
                <td>{{posting.Timestamp}}</td>
                <td><a href="app#/postings/{{posting.PostingID}}">View Details</a></td> 
            </tr>
        </table>
    
	</div>
</section>