<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navbar-collapse collapse">
            <a class="navbar-brand" href="app#/home">Laddr</a>
        </div>
        <div ng-if="logout == true">
            <ul class='nav navbar-nav navbar-right'>
                <li><a href='app#/logout'>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top:50px;">
    <div class="row">

    	<div class="col-md-2 col-sm-3 sidebar">
    		<ul class="nav nav-sidebar">
    			<li><a href="app#/profile">Your Profile</a></li>
    			<li><a href="app#/postings">Postings</a></li>
    			<li><a href="app#/forum">Forum</a></li>
    			<li><a href="app#/howto">How To</a></li>
    		</ul>
    	</div>

    	<div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 main">

			<section id="postings">
				<h3>Posting Detail</h3>
				
				<div class="container-fluid">
				<h4>{{posting.JobTitle}}</h4>
				<p><strong>Organization: </strong> {{posting.OrganizationName}}</p>
				<p><strong>Located in: </strong> {{posting.Location}}</p>
				<p><strong>Description: </strong> {{posting.Description}} </p>
				<p><strong>Posted: </strong> {{posting.Timestamp}} </p>

				<br>
					<div class="row">
					<div class="col-md-3 col-sm-4">
						<img src="{{posting.PictureURL}}" class="profilepic" />
					</div>
					<div class="col-md-9 col-sm-8">
						<h4>More info about {{posting.OrganizationName}}</h4>
						
						<p>{{posting.MissionStatement}} </p>
						<p><strong>Address: </strong> {{posting.Address}}</p>

						<button class='btn btn-primary btn-md'>Apply now!</button>
					</div>
				</div>
				
			</section>
		</div>
	</section>
</div>