<div header></div>

<div class='row'>
  <!-- <div navbar></div> -->
	<br>
  <div class='col-md-10 col-md-offset-1  main'>
  	<div class="page-header">
			<h1>Let's Get Started.</h1>
		</div>
		<form ng-submit='login()'> 
		  <div class="panel-group">
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h4 class="panel-title">
					 Basic Information
					</h4>
				  </div>
				  <div id="basicinformation" class="panel-collapse">
					
					<div class="panel-body">
					<!-- Form for basic information -->				  
						 <!-- User either chooses to be an organization or volunteer	
							name:laddruser
							value 0 == volunteer user
							value 1 = organization user-->
						<label for="accountType">Are you an Organization or Volunteer?</label><br>
						<div class="btn-group"><br>
							<label class="btn btn-primary ldrbtn" ng-model="accountType" ng-click='showVolunteer = false' uib-btn-radio="'volunteer'" value='0'>Volunteer</label>
							<label class="btn btn-primary ldrbtn" ng-model="accountType" ng-click='showVolunteer = true' uib-btn-radio="'organization'" value='1'>Organization</label>

							<!--<label class="radio-inline"><input type="radio" name="laddruser" ng-model="user.accountType" value='0' checked>	I am a volunteer!</label>								
							<label class="radio-inline"><input type="radio" name="laddruser" ng-model="user.accountType" value='1'>I am an organization!</label>-->
						</div><br><br>
						<div class="form-group">
							<label>	Email address:</label>
							<input type="email" ng-model='user.email' class="form-control" id="email" 		placeholder="Please enter your email" ng-required="true"><br>
							<label>Password:</label>
							<input type="password" ng-model='user.password1' class="form-control" id="pwd" 			placeholder="Please enter your password" ng-required="true"><br>
							<label>Re-enter Password:</label>
							<input type="password" ng-model='user.password2'	class="form-control" id="cnfrmpwd" 		placeholder="Please re-enter your password" ng-required="true">
						</div>		
					</div>
					
				  </div>
				</div>
		  </div><br>
	  
			<div uib-collapse="showVolunteer" class='collapse'>
				<div class="panel panel-default">
				
				  <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" >Volunteer</a>
					</h4>
				  </div>
				  
				  
					<!-- Form for volunteer information -->
					<div class="panel-body">
						<label for="firstName">	First Name:</label>	<input 	type="text" ng-model="user.firstName" class="form-control" id="firstName" placeholder="Please enter your first name" ng-required="true"><br>
						<label for="lastName">	Last Name:</label>	<input 	type="text" ng-model="user.lastName" class="form-control" id="lastName" placeholder="Please enter your last name" ng-required="true"><br>
						
						<div>
							<label>Academic Status:</label><br>
							<label class="radio-inline"><input type="radio" name="academicstatus" ng-model="user.academicStatus" value="0">Not in School</label>
							<label class="radio-inline"><input type="radio" name="academicstatus" ng-model="user.academicStatus" value="1" checked>High School</label>
							<label class="radio-inline"><input type="radio" name="academicstatus" ng-model="user.academicStatus" value="2">College</label>
							<label class="radio-inline"><input type="radio" name="academicstatus" ng-model="user.academicStatus" value="3">University</label>
							<label class="radio-inline"><input type="radio" name="academicstatus" ng-model="user.academicStatus" value="4">Graduate</label>
							
						</div>
				  </div><br>
				</div>
		  </div>
	  
		  <div uib-collapse="!showVolunteer" class='collapse'>
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h4 class="panel-title">
					  <a data-toggle="collapse" href="">Organization</a>
					</h4>
				  </div>
					<!-- Form for organization information -->
					<div class="panel-body">
						<label for="organizationName">Organization Name:</label>
						<input type="text" ng-model='user.organizationName' class="form-control" id="organizationName" placeholder="Please enter the name of your organization" ng-required="true"><br>
									
						<!-- referenced code: http://bootsnipp.com/snippets/featured/generic-postal-address-form
						
						address-line1 input  -->
						<div class='form-group'>
					    <label class="control-label" for='address'>Address:</label>
					    <input type="text" 
					    	ng-model="asyncSelected" 
					    	placeholder="Type address here" 
					    	uib-typeahead="address for address in getLocation($viewValue)" 
					    	typeahead-loading="loadingLocations" 
					    	typeahead-no-results="noResults" 
					    	typeahead-on-select='setAddress()'
					    	class="form-control"
					    	name='address'
							ng-required="true">
					    <label ng-show="loadingLocations" class="fa fa-spinner fa-spin"></label>
					    <div ng-show="noResults">
					      <i class="fa fa-times"></i> No Results Found
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<br>
			<div class="text-center">
				<button type='submit' ng-click='register()' class="btn btn-lg btn-success ldrbtn">Let's Go!</a>
			</div>
		</form>
	</div>
</div>