<div header></div>

<div class='row'>

  <div navbar></div>

	<div class='col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-3 col-xs-offset-1 col-xs-11 main'>
		<section id="rules">
		  
		

			<div class="page-header">
				<br>
				<h1>Rules of Laddr (or Laddrquette)</h1>
			</div>
			
			<div class="faq-style">
				  <p >
						<b>Welcome to Laddr!</b> We are so happy to have you use our system to find volunteer positions that best suits your interests. 
						Not only will you be able to apply to volunteer positions, but you will be able to post topics on our forums. The forums will be used to discuss topics in regards 
						to volunteering positions, questions about jobs or tips for acing an interview! Remember, this is a system that can be
						 seen by your fellow volunteers and organizations, so it'd be best to follow the laddrquette noted below. 
						 <br>
						 <br>
						 The following will be prohibited on the Forum Board:
							<ul>
								<li>Use of foul language</li>
								<li>Trolling/Fighting amongst fellow users</li>
								<li>Spamming</li>
								<li>Solicitation Posts/Advertisements</li>
								<li>Posts with racial or sexual content</li>
							</ul>
						Failure to abide by these rules will result in immediate banning with no warning. That being said, we appreciate you taking the time to read the rules!
						<br>
						<br>
						<i>Now start your <a href="#/postings">climb</a>!</i>
				  </p>


			</div>
		


		</section>
	
		<br>
	</div>	

<div footer></div>




    


