
<div header></div>

<div class='row'>
  <div navbar></div>

  <div class='col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 col-xs-offset-1 col-xs-11 main'>
    <a href="app#/forum" class="btn btn-primary btn-md" role="button">Back</a>
		<section id="postings">
      <div class="page-header">
  			<h1>{{topic.Title}}</h1>
      </div>
			
			<small>By {{topic.LdrProfile.LdrUser.FirstName}} on {{topic.Timestamp}} </small>
				
			<table class="table table-striped">
				<tr ng-repeat="comment in comments">
					<td>{{comment.LdrProfile.LdrUser.FirstName}}</td>
					<td>{{comment.Body}}</td>  
                      
          <!--
          <div ng-if='comment.LdrProfile.AccountType == 0'>
              <td>This was made by a volunteer account</td>
          </div>
          <div ng-if='comment.LdrProfile.AccountType == 1'>
              <td>This was made by a organziation account</td>
          </div>
          -->
				</tr>
			</table>     
      <!-- Use this to check which account is logged in
      <div ng-if='topic.LdrProfile.AccountType == 1'>
          <p>ORGANIZATION</p>      
      </div>
      
      <div ng-if='topic.LdrProfile.AccountType == 0'>
          <p>VOLUNTEER</p>
      </div>
      -->
		</section>
	</div>
</div>