
<div header></div>

<div class='container'>
	<section id="postings">
	
	    <div class="page-header">
			<br>
			<h1>{{topic.Title}}</h1>
	    </div>
		<a href="#/forum" class="btn btn-md" role="button">Back</a>
		<br>
		<div ng-show='message'>{{message}}</div>
		<br>
		<table class="table table-striped table-style">
			
			<thead>
				<th colspan='2'>By {{topic.LdrProfile.LdrUser.FirstName}} on {{topic.Timestamp | date: 'hh:mm:ss dd/MM/yy'}}</th>
			</thead>
			<tbody ng-repeat="comment in comments">
				<tr>
					<td class='topic-avatar-cell'>
						<img ng-src='{{comment.LdrProfile.PictureURL}}' alt='avatar' class='topic-avatar'/>
						<div><strong>{{comment.LdrProfile.LdrUser.FirstName}}{{comment.LdrProfile.LdrOrganization.OrganizationName}}</strong></div>
						<div><small>{{comment.Timestamp | date: 'hh:mm:ss dd/MM/yy'}}</small></div>
					</td>
					<td>
						<div>{{comment.Body}}</div>
					</td>  
				</tr>
			</tbody>
		</table>
		<button class="btn btn-md" ng-model="replyToggle" uib-btn-checkbox>Reply</button>
		<div ng-show='replyToggle'>
			<br>
			<form id='replyForm'>
				<textarea class='form-control' rows='5' ng-model='reply' placeholder='Enter your reply comments here...'></textarea>
				<br>
				<button class='btn btn-md' ng-click='submitReply()'>Submit</button>
				<div ng-show>{{replyMessage}}</div>
			</form>
		</div>
	</section>
</div>


<div footer></div>