<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navbar-collapse collapse">
            <a class="navbar-brand" href="app#/home">Laddr</a>
        </div>
        <div ng-if="logout == true">
            <ul class='nav navbar-nav navbar-right'>
                <li><a href='app#/logout'>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top:50px;">
    <div class="row">

    	<div class="col-md-2 col-sm-3 sidebar">
    		<ul class="nav nav-sidebar">
    			<li><a href="app#/profile">Your Profile</a></li>
    			<li><a href="app#/postings">Postings</a></li>
    			<li><a href="app#/forum">Forum</a></li>
    			<li><a href="app#/howto">How To</a></li>
                <li><a href="app#/applicants">Applicants<span class="badge">3</span></a></li>
    		</ul>
    	</div>

    	<div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 main">
			<section id="postings">
                <h3 align="center"><b>Those who have applied to your postings</b></h3>
                
                <!-- Starts of Peter's Segment -->
                    <div class="container">
	                   <div class="row">
		                  <div class="span5">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr bgcolor="#088c5a">
                                            <th>Applicant Name</th>
                                            <th>Posting Applied To</th>
                                            <th>Profile Picture</th>
                                            <th>Accept/Deny Application</th>                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div>
                                            <tr ng-repeat-start="posting in postings">
                                                <td><a href="app#/profile">PROFILE <br> EMAIL HERE</a></td>
                                                <td><a href="app#/postings">POSTING</a></td>
                                                <td>Profile Pic here?</td>
                                                <td><span class="label label-success">Accept</span> 
                                                    <br><span class="label label-danger">Deny</span></td>           
                                            </tr> 
                                            <tr ng-repeat-end>
                                            </tr>
                                        </div>
                                    </tbody>
                              </table>
                           </div>
	                   </div>
                    </div>
                <!-- End of Peter's Segment -->
			</section>
		</div>
	</div>
</div>