@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

* {
  font-family: Source Sans Pro 14;
}

.jumbotron {
  background-color: #088c5a;
}

.jumbotron h1 {
  color: #fafafa;
  padding-top: 50px;
  font-family: Lobster;
}

.jumbotron h3 {
  font-family: Lobster;
}

.text-white {
  color: #fafafa;
}

.row {
  padding-top: 25px;
  padding-bottom: 25px;
}


/* Left Green Sidebar*/
.sidebar {
	position: fixed;
	top: 50px;
	bottom: 0;
	background: #088c5a;
	color: #fafafa;
}
/* TESTING NAV-BAR COLOR
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}
*/

.sidebar a {
	color: #fafafa; /* Changes font color on click */
    
}

.sidebar a:hover {
	color: #FAFAFA; /* Changes font color on hover - WORKS */
}

.sidebar ul li a:focus {
    color: #FAFAFA;
    background:#06603e;
}

.sidebar ul li a:hover {
    background:#07784d;
}

.sidebar ul li a:active {
    background:#06603e;
}

/* Table Stuff */

table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
}


.profilepic {
	max-height: 250px;
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
	display: inherit;
}


.btn {
	background-color: #088c5a;	
}


/** all modal styling for login **/
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
 
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
   
    width:inherit;
    height:inherit;
   
    margin: 0 auto;
    pointer-events: all;
}
