@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
* {
  font-family: Source Sans Pro 14;
}
.jumbotron {
  background-color: #088c5a;
}
.jumbotron h1 {
  color: #fafafa;
  padding-top: 50px;
  font-family: Lobster;
}
.jumbotron h3 {
  font-family: Lobster;
}
.text-white {
  color: #fafafa;
}
.row {
  padding-top: 25px;
  padding-bottom: 25px;
}
/* Left Green Sidebar*/
.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  background: #088c5a;
  color: #fafafa;
}
/* TESTING NAV-BAR COLOR
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}
*/
.sidebar a {
  color: #fafafa;
  /* Changes font color on click */
}
.sidebar a:hover {
  color: #fafafa;
  /* Changes font color on hover - WORKS */
}
.sidebar ul li a:focus {
  color: #fafafa;
  background: #04905b;
}
.sidebar ul li a:hover {
  background: #01935c;
}
.sidebar ul li a:active {
  background: #04905b;
}
/* Table Stuff */
table {
  font-family: arial, sans-serif;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
}
.profilepic {
  max-height: 250px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}
.btn {
  background-color: #088c5a;
  border-style: solid;
  border-color: #121212;
  color: #fafafa;
}
.btn:hover {
  background-color: #179b69;
  color: #fafafa;
}
.btn:active,
.btn:focus {
  background-color: #007d4b;
  color: #fafafa;
}
a {
  color: #088c5a;
}
a:hover {
  color: #0c8859;
}
a:active {
  color: #04905b;
}
/** all modal styling for login **/
.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
.modal-content {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
}
/** styling for registration page **/
.panel,
.panel-group {
  border-radius: 5px;
  border: none;
  background: #fafafa;
}
.personal-info {
  background: #fafafa;
  padding: 2%;
  border-radius: 5px;
  border: none;
}
/** Styling for the Login page **/
body {
  background: #dddddd;
}
.login-style {
  border-radius: 5px;
  padding: 1%;
  background: #fafafa;
  border: none;
}
/** Minor Styling for Edit Profile Page **/
.well {
  background: #fafafa;
}
.lobster {
  font-family: Lobster;
  color: #fafafa;
}
.white {
  background: #fafafa;
  border: none;
}
/** Styling for Profile page **/
.profile-style {
  border: none;
  border-radius: 5px;
  background: #fafafa;
}
p {
  word-wrap: break-word;
}
/** Styling for Tables **/
.table-style {
  border-radius: 5px;
}
thead {
  border-radius: 5px;
  background: black;
  color: #fafafa;
}
tr {
  padding: 2%;
  text-align: center;
}
